# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Project Files #
/target/
/WebContent/META-INF/
/WebContent/WEB-INF/classes/
/WebContent/WEB-INF/test-classes/

# Eclipse Project #
/.externalToolBuilders/
/.settings/
.classpath
.project